# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
.terraform
.terraform/*
.terraform/**/*
**/.terraform/**/*
*/terraform.tfstate.backup
**/*/.terraform/**/*

# # terraform state files
# *.tfstate
# *.tfstate.*.backup
# *.tfstate.backup

invoke/**